.inputTextColor {
  color: black; }

.lbTxt {
  color: #87c0cd; }

.blackText {
  color: black; }

.lbBgColor {
  background-color: #87c0cd; }

.mainBgColor {
  background-color: #f3f9fb; }

.whiteTxt {
  color: #f3f9fb !important; }

.darkBlueColor {
  background-color: #113f67; }

.inputBgColor {
  background-color: #f3f9fb; }

.blackBgColor {
  background-color: rgba(0, 0, 0, 0.822); }

* {
  text-align: center;
  font-family: "Roboto", sans-serif; }

html {
  font-size: 62.5%; }

/* IMG SIZING */
.iframeSize {
  height: 30rem; }

.footerBg {
  background-image: url(../assets/img/crystalBg.jpg); }

footer nav ul {
  padding: 0; }

footer {
  margin-top: auto; }

@media only screen and (max-width: 769px) {
  .imgSvFt {
    width: 40%;
    margin: 0.5rem; } }

/* BORDES */
.bordeRedondo {
  border: 1px solid transparent;
  border-radius: 1rem; }

.bordeBlanco {
  border: 1px solid white; }

/* TABLE SIZE */
.tableSize {
  width: 80%; }

/* li no bullets */
li {
  list-style-type: none; }

/* Download Buttons */
.autoFrame {
  height: auto;
  text-align: center;
  border: #113f67 solid 0.5rem;
  border-radius: 10px; }

/* fix body para que el footer este siempre al final */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
