/* BORDES */
.bordeRedondo {
  border: 1px solid transparent;
  border-radius: 1rem;
}

.bordeBlanco {
  border: 1px solid white;
}

.bordeAzul {
  border: 1px solid map-get($colors, darkBlueColor);
}

.bottomBorder {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* TABLE SIZE */
.tableSize {
  width: 80%;
}

/* li no bullets */

li {
  list-style-type: none;
}

/* Download Buttons */

.autoFrame {
  height: auto;
  text-align: center;
  border: map-get($colors, darkBlueColor) solid 0.5rem;
  border-radius: 10px;
}

/* fix body para que el footer este siempre al final */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* FILLER IMGS */

.fillerImg {
  height: 640px;
  width: auto;
}
